.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}

.desc{
    font-size: 14px;
}

.star{
    color: gold;
}

.username{
    font-size: 14px;
}

.date{
    font-size: 12px;
}

form{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input, textarea{
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder, textarea::placeholder{
        font-size: 12px;
        color: rgb(150, 143, 143)
}

.submitButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: tomato;
    cursor: pointer;
}

.button{
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.logout{
    background-color: tomato;
}
.login{
    background-color: #00A8A8;
    margin-right: 10px;
}
.register{
    background-color: #998DDD;
}

.buttons, .logout{
    position: absolute;
    top: 10px;
    right: 10px;
}